<html>
<head>
</head>
<body><!-- https://goods.itvik.com/api/upload/ -->
<form enctype="multipart/form-data" action="http://127.0.0.1:5000/send_test" method="POST">
<!--     <input type="text" name="MAX_FILE_SIZE" value="3000000" /> -->
<!--     <input type="text" name="filename" value="img_12321" /> -->
    <input type="text" name="object_id" value="16" /><br>
    <input type="text" name="object_name" value="collection" /><br>
<!--     <input type="text" name="token" value="f2dc1183efb524e4fd68e2a21e3198bf" /> -->
    Is default<input type="checkbox" name="is_default" value="True" /><br>
    Send: <input name="photo" type="file" /><br>
    <input type="submit" value="Send File" />
</form>

</body>
</html>



<!--


-->